/* Reset default margin */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header{
    background:#b87f4b;
    color:white;
    text-align:center;
    padding:20px;
}

/* Menu Icon */
.menu-container {
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    top: 20px;
}

.menu-icon{
    font-size:30px;
    cursor:pointer;
    position:absolute;
    left:20px;
    top:20px;
}

/* Category Menu */
.category-menu{
    display: none;
    background:#e1a266;
    width:170px;
    padding:15px;
    position:absolute;
    top:60px;
    left:20px;
    border-radius:5px;
    text-align: left;
    color: black;
}

.category-menu ul{
    list-style:none;
}

.category-menu li{
    padding:8px;
    border-bottom:1px solid #ddd;
    cursor:pointer;
}

.category-menu li:hover{
    color:white;
    font-weight: bold;
    transition: 0.2s;
}

.menu-container:hover .category-menu {
    display: block;
}

/* Hide Menu */
.hide{
    display:none;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

/* Hero Section */
section{
    padding:40px;
    text-align:center;
}

button{
    background:#8B5A2B;
    color:white;
    border:none;
    padding:10px 20px;
    margin-top:10px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#ca8a46;
    color:white;
}

/* Product Section */
section div{
    display:inline-block;
    width:250px;
    /*width:350px;*/
    border:1px solid #ddd;
    padding:15px;
    margin:15px;
    border-radius:10px;
}

section img{
    width:100%;
    border-radius:5px;
}

.product-img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

/* Footer */
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}